# vim: ft=yaml
# https://erlang-ls.github.io/configuration/
# otp_path: "/path/to/otp/lib/erlang"
deps_dirs:
- "_build/*/lib/*"
diagnostics:
  enabled:
    - crossref
    - dialyzer
include_dirs:
  - "_build/*/lib"
lenses:
  enabled:
    - ct-run-test
disabled:
    - show-behaviour-usages
providers:
  enabled:
    - signature-help